name: dropdown_button2
description: Flutter's core Dropdown Button widget with steady dropdown menu and many options you can customize to your needs.
version: 3.0.0-beta.16
repository: https://github.com/AhmedLSayed9/dropdown_button2
issue_tracker: https://github.com/AhmedLSayed9/dropdown_button2/issues

environment:
  sdk: ">=3.2.0 <4.0.0"
  flutter: ">=3.16.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.9.1

dev_dependencies:
  flutter_test:
    sdk: flutter
